{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }}</h1>
  <p>Detail information<p>
  <p><strong>Manufacturer name: </strong>{{ car.manufacturer.name }}</p>
  <p><strong>Country: </strong>{{ car.manufacturer.country }}</p>
  {% if car.drivers %}
    <strong>Drivers: </strong>
    <ul>
      {% for driver in car.drivers.all %}
        <li>{{ driver.first_name }} {{ driver.last_name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No drivers</p>
  {% endif %}

{% endblock %}
